<a href="https://colab.research.google.com/github/yewon91/mul_lectures/blob/main/pandas_240108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 통합하기
- 데이터 조인
- 원리는 매우매우 중요**

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({
    'Class1': [95,92,98,100],
    'Class2': [91,93,97,99]
})

df2 = pd.DataFrame({
    'Class1': [87, 89],
    'Class2': [85,99]
})

df1

In [ ]:
pd.__version__

In [ ]:
# df1.append(df2) => pandas 버전 1.4.0 이후로 지원 안함. conncat() 사용권장
res = pd.concat([df1, df2], ignore_index=True)
res

In [ ]:
df3 = pd.DataFrame({'Class1' : [96, 93]})
df3

pd.concat([res, df3], ignore_index=True)

### 가로방향으로 통합하기
- pd.concat() : 세로방향으로 통합

In [ ]:
df4 = pd.DataFrame({
    'Class3': [93,91,95,98]
})
df1.join(df4)
# df4

In [ ]:
# 인덱스 라벨 추가
index_label = ['a','b','c','d']
df1a = pd.DataFrame({'Class1': [95, 92, 98, 100],
                    'Class2': [91, 93, 97, 99]}, index= index_label)
df4a = pd.DataFrame({'Class3': [93, 91, 95, 98]}, index=index_label)

df1a.join(df4a)

In [ ]:
# 인덱스값 Check - 조인시에는 인덱스 값이 같아야함
df4.index == df1.index

In [ ]:
df_A_B = pd.DataFrame({'판매월':['1월','2월','3월','4월'],
                      '제품A':[100,150,200,130],
                      '제품B':[90,110,140,170]})
df_A_B

In [ ]:
df_C_D = pd.DataFrame({'판매월': ['1월', '2월', '3월', '4월'],
                       '제품C': [112, 141, 203, 134],
                       '제품D': [90, 110, 140, 170]})

df_C_D

In [ ]:
df_A_B.merge(df_C_D)

In [ ]:
df_A_B.join(df_C_D) # 컬럼 중복시에는 MERGE를 사용한다

In [ ]:
df_left = pd.DataFrame({'key':['A','B','C'], 'left': [1, 2, 3]})
df_right = pd.DataFrame({'key':['A','B','D'], 'right': [4, 5, 6]})

In [ ]:
df_left.merge(df_right, how='left', on='key') # 해당되지 않는 값은 삭제

In [ ]:
df_left.merge(df_right, how='right', on='key')

In [ ]:
df_left.merge(df_right, how='outer', on='key') # FULL JOIN

In [ ]:
df_left.merge(df_right, how='inner', on='key') # 교집합

In [ ]:
!pip install openpyxl

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\yewon\desktop\projectds\venv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\yewon\desktop\projectds\venv\lib\site-packages (from openpyxl) (1.1.0)

In [ ]:
import pandas as pd

df = pd.read_excel('data/학생시험성적.xlsx')
df

  학생  국어  영어  수학         평균
0  A  80  90  85  85.000000
1  B  90  95  95  93.333333
2  C  95  70  75  80.000000
3  D  70  85  80  78.333333
4  E  75  90  85  83.333333

In [ ]:
op.__version__

In [ ]:
pip list

In [ ]:
# 파일 불러올 때 인코딩 확인
pd.read_csv('data/sea_rain1_from_notepad.csv', encoding="cp949")

     연도       동해       남해       서해       전체
0  1996  17.4629  17.2288  14.4360  15.9067
1  1997  17.4116  17.4092  14.8248  16.1526
2  1998  17.5944  18.0110  15.2512  16.6044
3  1999  18.1495  18.3175  14.8979  16.6284
4  2000  17.9288  18.1766  15.0504  16.6178

In [ ]:
df = pd.read_excel("data/학생시험성적.xlsx", sheet_name = '2차시험', index_col = '학생')
df

    과학  사회   역사         평균
학생
A   90  95   85  90.000000
B   85  90   80  85.000000
C   70  80   75  75.000000
D   75  90  100  88.333333
E   90  80   90  86.666667

In [ ]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.9-py3-none-any.whl.metadata (2.6 kB)
Downloading XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
   ---------------------------------------- 0.0/154.8 kB ? eta -:--:--
   ------- ------------------------------- 30.7/154.8 kB 660.6 kB/s eta 0:00:01
   ---------------------------------------- 154.8/154.8 kB 1.9 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
df1 = pd.read_csv("data/sea_rain1_from_notepad.csv", encoding="cp949")
df1.to_excel("data/output.xlsx")

In [ ]:
# 350p # 엑셀 자동화할 때 적용 - pd.ExcelWriter
# excel_writer = pd.ExcelWriter("data/학생시험성적.xlsx", engine='xlsxwriter')
# df1.to_excel(excel_writer, index=False)
# excel_writer.save()

AttributeError: 'XlsxWriter' object has no attribute 'save'

## 엑셀 자동화
- 정의 : 엑셀 시트 보고서를 제작해서 매일매일 보고를 해야할 때 엑셀 자동화
 + 엑셀 Cell 색상 변경 등, VBA 코드도 추가
 + RPA 과정
 + openpyxl, xlsxwriter 두개 라이브러리 사용