<a href="https://colab.research.google.com/github/yewon91/mul_lectures/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231228.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 함수 (function, method)

In [1]:
coffee_menu_str = '에스프레스,아메리카노,카페라테,카푸치노'
coffee_menu_str.split(',')

# 결과해석
# 내가 원하는 대로 결과가 나왔는가?
# 반환값, Return 자료형 확인 필수

['에스프레스', '아메리카노', '카페라테', '카푸치노']

## split() 문자열 분리

In [2]:
'에스프레스 아메리카노 카페라테 카푸치노'.split(' ')

['에스프레스', '아메리카노', '카페라테', '카푸치노']

In [11]:
phone_number = "+82-01-2345-6789"

# +82만 추출하기
nu = phone_number.split('-')

# 82만 추출하기
nu[0][1:3]

'82'

In [12]:
# maxsplit, 매개변수 (arguments, parameters)
phone_number.split('-', maxsplit=2)

['+82', '01', '2345-6789']

## strip() : 필요없는 문자열 삭제
- 앞뒤 공백 혹은 개행문자와 같이 불필요한 부분을 지우고 싶을 때 사용

In [13]:
tempText = ' Python '
tempText.strip()

'Python'

In [14]:
tempText = 'aaaPythonaaa'
tempText.strip('a')

'Python'

In [17]:
tempText = 'aaabbPythonbbaaa'
result = tempText.strip('a')
result.strip('b')

# 코딩은 1가지의 정답이 있는 것이 아님
# 여러가지 정답 중에서 효율적인 정답을 찾는 과정이 코딩!

'Python'

In [16]:
tempText.strip('ab')

'Python'

In [20]:
tempText = '\n Python \n\n'
tempText.strip(' \n')

'Python'

## join(): 문자열 연결
- 더하기 연산자(+)로 두 문자열을 연결 가능

In [21]:
name1 = '철수'
name2 = '영미'

hello = '님, 주소와 전화 번호를 입력해 주세요'

print(name1 + hello)

철수님, 주소와 전화 번호를 입력해 주세요

In [23]:
address_list = ['서울시', '서초구', '반포대로', '201(반포동)']

# 리스트의 각 값을 모두 연결해서 하나의 텍스트로
a = ' '
a.join(address_list)

'.'.join(address_list)

'서울시.서초구.반포대로.201(반포동)'

## find() : 문자열 찾기
- 문자열의 위치값을 반환

In [25]:
str_f = 'Python code.'
print("찾는 문자열의 위치:", str_f.find('Python')) # 시작문자열 인덱스 반환
print("찾는 문자열의 위치:", str_f.find('Java')) # -1 해당되는 문자 없음

찾는 문자열의 위치: 0
찾는 문자열의 위치: -1

## count() : 찾고자 하는 문자열의 횟수 반환
- 만약 찾을 문자열이 없으면 0 반환

In [27]:
str_c = "Python is powerful. Python is easy to learn. Python is open."
print("Python의 갯수는?", str_c.count("Python"))
print("Python의 갯수는?", str_c.count("Java"))

Python의 갯수는? 3
Python의 갯수는? 0

## startswith, endswith
- 각 문자열이 지정된 문자로 시작하는지/끝나는지 체크할 때 사용

In [29]:
print("Python으로 시작?", str_c.startswith('Python'))
print("Python으로 시작?", str_c.endswith('!'))

Python으로 시작? True
Python으로 시작? False

## replace() : 문자열 바꾸기
- 지정한 문자열을 찾아서 바꾸는 메서드

In [30]:
str_a = 'Python is fast. Python is friendly. Python is open.'

print(str_a.replace('Python', 'IPython'))

IPython is fast. IPython is friendly. IPython is open.

In [34]:
str_b = '[Python][is][fast]'
str_b1 = str_b.replace('[', '')
str_b2 = str_b1.replace(']', ' ')
result = str_b2.rstrip()
print(result)

Python is fast

## 문자열 formatting

In [2]:
"I eat %d apples." % 3 # format 코드 사용, 숫자 대입
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day) # 변수 대임

"I eat {0} apples".format(3) # format 함수 사용

# f'문자열' 사용 - {} 치환 필드
fruit = 'apple'
price = 1000
f'The price of this {fruit} is {price + 100} won.'

# 정렬과 공백
print("%10s" % "hi") # 오른쪽 정렬
print("%-10sjane." % 'hi') # 왼쪽 정렬

# 소수점 자릿수 표현
"%0.4f" % 3.42134234

y = 3.42134234
print(f'{y:0.4f}')
print(f'{y:10.4f}')

        hi
hi        jane.
3.4213
    3.4213

# 리스트 함수
- 1차 교재 -> 프로젝트시 공식문서에 친숙
- 라이브러리 사용할 때, 공식문서 보는 훈련!

## append()
- 리스트에서 항목 하나를 맨 마지막에 추가

In [40]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.append('Thomas')
print(myFriends)

# res = myFriends.append('Thomas')
# print(res) => None 리턴

None

## extend()
- 리스트에서 항목 여러개를 맨 마지막에 추가

In [42]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.append('Thomas')

newFriends = ['A', 'B', 'C']
myFriends.extend(newFriends)
myFriends

['James', 'Robert', 'Lisa', 'Mary', 'Thomas', 'A', 'B', 'C']

## insert()
- 항목의 위치를 나타내는 인덱스 i에 data를 삽입

In [44]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.insert(1, 'Evan')
print(myFriends)

['James', 'Evan', 'Robert', 'Lisa', 'Mary']

In [49]:
ex_list = ['a', 'b', 'c', 'd']
ex_list.insert(4, 'e')
print(ex_list)

['a', 'b', 'c', 'd', 'e']

# 클래스
- 프로그래밍을 한다 ==> 재실행, 반복 실행을 하기 위한 방법론 : 함수
- 의미있는 함수를 만드는 것이 프로젝트
- 언제 함수를 만들어야 할까?
 + 매일 매일 뭔가 반복적일거 같은 느낌이 들 때 함수를 만들면 됨
 **+ 분석 프로젝트시, 새로운 파생변수 만드는 메서드를 정의**
 + 개발자 => 속도를 빠르게 만들어주는 함수, ETL을 효율적으로 해주는 함수

In [ ]:
# 함수의 구조
# 매개변수, 인자
def 함수명([인자1, 인자2, ..., 인자n]):
  # 코드 블록
  return 반환값

In [2]:
# 함수 만들때 indentation 주의!!

def mySum(a, b):
  c = a + b
  return c

result = mySum(1, 2)
print(result)

3

In [4]:
def mySubtract(a, b):
  c = a - b
  return c

a = 3
b = 4
mySubtract(a, b)

-1

In [7]:
def mySubtract(a, b=0): # 인자 b에 초기값을 0으로 설정 b = None이라고도 많이 표시함
  c = a - b
  return c

m = 10
mySubtract(m) # 인자 하나만 넣어도 정상 작동

10

In [8]:
def my_func():
  print("My first function")
  print("This is a function!")

In [11]:
result = mySubtract(m, n) # 반환값 o
my_func() # 반환값 x

NameError: ignored

In [14]:
def mySum(a, b=0):
  c = a + b
  print(f'함수 잘 작동 중? {c}')

a = 1
result = mySum(a)
print(result)

함수 잘 작동 중? 1
None

## 변수의 유효범위
- 지역변수 & 전역변수
- Local Variable & Global Variable

In [17]:
a = 5 # 전역 변수

def func1():
  a = 1 # 지역 변수
  print(f'func1 지역변수 a = {a}')

func1()
print(f'전역변수 a = {a}')

func1 지역변수 a = 1
전역변수 a = 5

In [20]:
a = 5 # 전역 변수

def func1():
  a = 1 # 지역 변수
  print(f'func1 지역변수 a = {a}')

def func2():
  a = 4 # 지역 변수
  print(f'func2 지역변수 a = {a}')

def func3():
  print(f'func3 전역변수 a = {a}')

def func4():
  global a # 함수 내에서 전역 변수를 변경하기 위함
  a = 500
  print(f'func4 전역변수 a = {a}')

func1()
func2()
func3()
func4()

print(f'전역변수 a = {a}')

func1 지역변수 a = 1
func2 지역변수 a = 4
func3 전역변수 a = 5
func4 전역변수 a = 500
전역변수 a = 500

## Lambda 함수
- def 함수의 경우 복잡한 함수 로직을 만들때 주로 사용
- 단순 기능을 수행할때, lambda 함수
 + 함수를 한 줄로 처리
- Pandas에서 Excel 데이터 가공할 때 많이 씀

In [21]:
(lambda x : x ** 2)(3)

9

In [ ]:
lambda 인자(=매개변수) : 인자를 활용한 코드 (원하는 인자 코드 입력)

In [26]:
mySquare = lambda x : x ** 2
mySquare(5)

25

In [25]:
def myPower(x):
  y = x ** 2
  print(y)
  # return y

myPower(3)

9

## 클래스 선언과 객체 생성
- 함수의 확장
- 함수와 클래스 비유적으로 비교
 + 함수 : 각 덧셈/뺄셈/곱셈 함수 등
 + 클래스 : 사칙연산 클래스 (예: 계산기)
 + 라이브러리 : 클래스들의 묶음
  + 사칙연산 클래스
  + 미분 클래스
  + 적분 클래스
  + etc...
  + 수학 라이브러리

In [ ]:
# 자전거의 속성 : data (바퀴의 크기, 자전거의 색상)
# 자전거의 동작 : method (= function), 지정된 속도로 이동, 좌/우회전, 정지 기능

In [ ]:
class Bicycle(): # 클래스 선언
  데이터1 = 바퀴의 크기
  데이터2 = 자전거의 색상

  # 클래스 메서드
  def 속도():
    pass

  def 방향():
    pass

  def 정지():
    pass

객체명 = Bicycle(데이터1, 데이터2) # 입력한 형태로 새로운 객체가 막 생기는 것

# 상상
벤츠자전거 = Bicycle(데이터1, 데이터2) # 매장 옵션

# 문의
벤츠자전거 하늘로 비행하나요? ==> 기능 미존재
==> 해당 기능을 만들거나 or 다른 클래스 찾아가면 됨

### why Class? 프로그래밍 관점

In [31]:
result1 = 0
def add1(num):
  global result1

  result1 = result1 + num # 결과값result에 입력값num  더하기
  return result1

def add2(num):
  global result2

  result2 = result2 + num # 결과값result에 입력값num  더하기
  return result2

print(add1(3))
print(add1(5))
print(add2(3))

3
8

- 위 코드의 문제점 : 같은 기능(덧셈)을 수행하는 함수가 중복될 수 있음 / 코드의 가독성이 매우 급격하게 떨어짐

In [33]:
class Calculator:
    def __init__(self):
        self.result = 0 # result 값을 초기화

    def add(self, num):
        self.result += num
        return self.result

cal1 = Calculator() # 인스턴스화, 계산기 번호 1
cal2 = Calculator() # 인스턴스화, 계산기 번호 2
cal3 = Calculator() # 인스턴스화, 계산기 번호 3
cal4 = Calculator() # 인스턴스화, 계산기 번호 4

# 클래스의 위대함
# 독립적으로 구현이 되면서, 동시에 실행이 되고 있음
# 계산기 대수를 무한대로 생성가능

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

In [35]:
print(cal3.multiple(100)) # Python에서는 class method를 attribute로 정의

AttributeError: ignored

In [36]:
print(cal3.Add(100)) # Python에서는 대소문자 구분 필요!

AttributeError: ignored

### 객체 초기화
- '__init__()' : 객체 생성과 동시에 속성값을 지정할 수 있다
 + 주로 클래스 선언시 변수 초기화

In [37]:
class Bicycle():

  # 변수 초기화
  def __init__(self, wheel_size, color):
    self.wheel_size = wheel_size
    self.color = color

  def stop(self):
    print('자전거({0}, {1}): 정지'.format(self.wheel_size, self.color))

In [38]:
my_bicycle = Bicycle(26, 'black')
ur_bicycle = Bicycle(30, 'pink')

my_bicycle.stop()
ur_bicycle.stop()

자전거(26, black): 정지
자전거(30, pink): 정지