<a href="https://colab.research.google.com/github/yewon91/mul_lectures/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231227.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3. 파이썬을 계산기처럼

## 사칙연산

In [1]:
1+1

2

In [2]:
# 나눗셈
# Python 3.x 버전은 실수로 처리
# Python 2.x 버전은 정수로 처리
10/2    # 정수/정수 ==> 반환값 실수형으로 반환

5.0

- 실수 연산

In [3]:
# print() - 웹개발 IDE 환경에서 필수
print(1.2 + 5.2) # 덧셈
print(2.1 - 1.3) # 뺄셈

6.4
0.8

### 연산 규칙
- (1) 괄호안 계산
- (2) 지수 계산
- (3) 곱셈과 나눗셈 계산
- (4) 덧셈과 뺄셈 계산
- (5) 같은 순위 연산이면, 왼쪽에서 오른쪽으로
- (6) 중복된 괄호가 있을 경우, 안쪽에서부터 처리

In [4]:
3 / 2 * 4 - 5 / 2

3.5

## type()
- 함수 : 특정 기능을 수행하도록 만든 매직박스
 + 특정함수를 조건만 만들어주면 동작

함수의 종류
- 내장(built-in) 함수 : 파이썬 설치와 함께 제공하는 기본적인 함수
 + print(), type()
 + 종류가 몇개인가요? (몰라요..)
 + Documentation : 함수를 설명해주는 문서 보는 법 익힐 것 (영어)

 - 라이브러리에서 제공하는 함수
 + R: 패키지, Python: 라이브러리
 + 목적이 분명
 - 웹사이트 개발 : 웹사이트와 관련된 라이브러리를 별도 설치 필요
 - 통계분석 : 통계분석과 관련된 라이브러리를 별도 설치 필요
 - 시각화 : 시각화와 관련된 라이브러리 설치
 - 게임개발 : 관련된 라이브러리 설치
 - 수치연산 주요라이브러리 : numpy*, scipy

In [5]:
# 파이썬에서 정수/실수 표현
print(type(3))

<class 'int'>

- 파이썬: 객체지향 언어

## 거듭제곱과 나머지
- 숫자 A를 n번 곱하는 거듭제곱(Power)
+ A는 밑, n은 지수라고 표현

In [6]:
2 ** 5 # 거듭제곱

32

In [7]:
# 나머지와 몫
print(13 // 5)
print(13 % 5)

2
3

## 과학적 표기법 (Scientific Notation)
- 아주 큰 수, 작은 수를 다뤄야하는 케이스
+ 빛은 초당 30만 km
+ 단위를 m/s 표현하면, 300,000,000m/s
+ 3x10^8

In [8]:
3*10**8

300000000

In [9]:
3e8

300000000.0

In [10]:
3e-4

0.0003

## 진수표현과 변환
- 일상생활에서는 10진법 사용
- 60진법: 60초가 1분이고, 60분이 1시간
- 12진법: 오전 12시간, 오후 12시간, 1년 12달
- 컴퓨터 프로그래밍: 숫자 0과 1로 이루어진 2진법 수행
- 8진법: 0~7까지의 숫자
- 16진법: 0~9, a,b,c,d,e,f

- 실제 분석에선 거의 쓸일 없다고 함

In [11]:
print(17) # 10진법 decimal
print(0b10001) # 2진법 binary
print(0o21) # 8진법 octal
print(0x11) # 16진법 hexadecimal

17
17
17
17

## 논리 연산 및 비교 연산 (매우 중요)
- 참/거짓
- 논리 연산을 잘 활용하는 것이 프로그래밍의 핵심
- 실제 프로그래밍은 논리연산 구조로 되어있음!

In [12]:
print(True)
print(False)
print(type(True))

True
False
<class 'bool'>

### 논리 연산자
- and : A and B : A,B 모두 참일 때 참
- or : A or B : A,B 중 하나라도 참이면 참, 둘다 거짓일 때 거짓
- not : not A : A가 참일 때 거짓, A가 거짓이면 참

In [13]:
print(not True)
print(not False)

False
True

In [14]:
# True 또는 False 결과가 나오도록 "의도적"으로 조건식을 만들어야 함
1 == 2

False

### 비교연산자 + 논리연산자

In [15]:
1 > 0 and -2 < 0 # 비교연산자(1순위) 논리연산자(2순위)

True

# Chapter 4. 변수와 자료형

In [2]:
#변수명 = data
num_a = 1000

In [1]:
print(num_a)

NameError: ignored

In [18]:
print = 100

In [3]:
print(num_a) # 내장함수명을 변수명으로 만들면 안됨!

1000

In [ ]:
num = 1
Num = 100

In [1]:
print(num)
print(Num)

NameError: ignored

In [8]:
num1 = int(input('숫자를 입력하세요')) # 문자열로 반환 -> 타입 변환해야 함
num2 = int(input('숫자를 입력하세요'))

print(type(num1))

print(num1+num2)

숫자를 입력하세요100
숫자를 입력하세요200
<class 'int'>
300

## 문자열
- ""(큰따옴표) 또는 ''(작은따옴표) 지정

In [10]:
string3 = 'This is a "double" quotation test' # 이중따옴표
print(string3)

This is a "double" quotation test

In [12]:
long_string1 = '''
문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3
'''
# 큰따옴표도 가능

print(long_string1)

 ## 큰따옴표도 가능
문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3

In [14]:
a = 'Enjoy '
b = 'Python!'
print(a+b)
print(a*3)

Enjoy Python!
Enjoy Enjoy Enjoy

## 리스트 (List)
- 가장 중요한 자료형
- 다른 프로그래밍 언어에서는 배열(Array)
- 예시
 + 1반의 과목별 수학점수
- 다중의 데이터를 묶는다

In [18]:
student = [90, 95, 85, 80]
print(student)
print(type(student))

[90, 95, 85, 80]
<class 'list'>

### 인덱싱(Indexing)
# - 리스트에서 특정 데이터를 추출

In [21]:
print(student)
print(student[0]) # 인덱싱은 숫자 0부터 시작

[90, 95, 85, 80]
90

In [38]:
greeting = 'Hello, Python'

# Hello만 추출
print(greeting[0:5])

Hello

### 리스트 수정, 삭제

In [24]:
student[0] = 100 # 새로운 데이터 할당, 0번째 인덱스
student

[100, 95, 85, 80]

In [26]:
# 문자열, 덧셈 연산자 + 곱셈 연산자
# 리스트에 적용

myFriends = ['James', 'Robert', 'Lisa', 'Mary']
newFriend = ['Kim']

myFriends2 = myFriends + newFriend
print(myFriends2)

['James', 'Robert', 'Lisa', 'Mary', 'Kim']

In [28]:
myNumbers = [1]
myNumbers * 3

[1, 1, 1]

In [30]:
# Lisa, L 추출
myFriends[2][0]

'L'

In [34]:
mixed = [0, 2, 3.14, 'python', True, myFriends2]
mixed

# Kim의 K 추출
mixed[-1][-1][0]

'K'

## 슬라이싱
- 문자열, 리스트 그외 파이썬 거의 대부분 자료형 원리 동일 적용

In [43]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7 ,8, 9]
print(list_data)
print(list_data[0:3]) # 시작인덱스:끝인덱스-1

# 5까지 추출
print(list_data[0:6])
print(list_data[:6])
print(list_data[4:]) # list_data[4:10]
print(list_data[:]) # 모든 데이터 조회
print(list_data[::2]) # Step
print(list_data[::3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[0, 3, 6, 9]

## 튜플(Tuple)
- 기초 문법이 중요함 (면접 때 질문 받을 수 있음)
- 튜플은 리스트와 유사하다

In [45]:
tuple1 = (1, 2, 3, 4)
print(tuple1)
print(type(tuple1))

(1, 2, 3, 4)
<class 'tuple'>

### 유사한 것
 - 인덱싱과 슬라이싱이 리스트, 문자열과 동일

In [48]:
tuple_data = (0, 1, 2, 3, 4, 5, 6, 7 ,8, 9)
print(tuple_data[0:3])

(0, 1, 2)

### 차이점
 - 리스트와 달리 튜플은 수정,삭제가 안됨

In [52]:
l_data = [0, 1, 2, 3] # 숫자 3-> 30
t_data = (0, 1, 2, 3) # 숫자 3-> 30

# l_data[3] = 30
# t_data[3] = 30

# del l_data[3]
# l_data

del t_data[3]
t_data

[0, 1, 2]